<div id="preview-container" class="" style="position: fixed; width:0; background: red; top: 74px; right: 0; bottom: 0; z-index: 120; overflow:visible;">
	<div id="preview" style="position: absolute; right: -{{deviceWidth.current}}px; width: {{deviceWidth.current}}px; max-width: {{deviceWidth.current}}px; height: 100%; box-shadow: 0 0 16px rgba(0,0,0,0.32); background: #fff;">
		<div class="modal-header">
			<button type="button" class="close" aria-hidden="true">&times;</button>
			<h4 style="margin:0; float:left; padding-top: 2px; margin-right: 20px; line-height: 24px"><i id="previewicon" class="fa fa-eye fa-fw" style="font-size: 16px; margin-left: -1px; margin-top: -1px"></i> Preview</h4>
			<button style="margin-left: -2px" class="btn btn-device" type="button" data-device="desktop" data-devicewidth="{{deviceWidth.desktop}}"><i class="fa fa-desktop"></i>&nbsp;Desktop</button>
			<button style="margin-left: -2px" class="btn btn-device" type="button" data-device="tablet" data-devicewidth="{{deviceWidth.tablet}}"><i class="fa fa-tablet"></i>&nbsp;Tablet</button>
			<button style="margin-left: -2px" class="btn btn-device" type="button" data-device="mobile" data-devicewidth="{{deviceWidth.mobile}}"><i class="fa fa-mobile"></i>&nbsp;Mobile</button>
			&nbsp; <a href="#" target="_blank" onclick="this.href=document.getElementById('previewiframe').contentWindow.location.href;" title="Open in new tab" style="text-decoration:none; color:#777; position:relative; top: 2px;"><i class="fa fa-external-link"></i></a>
		</div>
		<iframe id="previewiframe" src="{{previewURL}}" frameborder="0" border="0" width="100%" height="100%" style="position: absolute; top: 40;"></iframe>
	</div>
</div>