html {
  height:100%;
}
body {
  height: 100%;
  padding-top:0;
  font-family: Arial, Helvetica, sans-serif;
  background: #eee;
  background-size: cover;
  background-position: center center;
}

input, button, select, textarea {
  font-family: Arial, Helvetica, sans-serif
}

.wrap {
  width: 100%;
  height: 100%;
  background-position: 0 0;
  background-repeat: repeat;
}

#header {
  padding: 25px 25px 10px 25px;
}
#header h1 {
  margin:0;
  font-size: 24px;
  line-height: 1;
}

#header .webtop-logo {
  display: block;
  color:#303030;
  font-size:24px;
  font-weight:300;
  height:60px;
  line-height:1em;
  background-position: top left;
  background-repeat: no-repeat;

}
#header .webtop-logo:hover,
#header .webtop-logo:active {
  color:#000000;
  text-decoration:none;
}
#header .farcry-logo {
  display: block;
  width:62px;
  height: 19px;
  background:url(../images/farcry.png) top right no-repeat;
  text-indent:-99999px;
}
#header h1 .webtop-logo {
  width: 180px
}


.content-main {
  padding: 20px 10px;
}

.content-main .content-block {
  background:#ffffff;
  border:1px solid #cccccc;
  margin: 0 auto;
  max-width: 520px;
  -webkit-box-shadow:0 4px 16px rgba(0,0,0,0.2);
  -moz-box-shadow:0 4px 16px rgba(0,0,0,0.2);
  box-shadow:0 4px 16px rgba(0,0,0,0.2);
}


.content-pod {
  border:1px solid #ffffff;
  padding: 15px 25px 30px 25px;
}


.content-main h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: normal;
  line-height: 100%;
}

.content-main form {
  padding:0;
  margin:0;
}

.content-main form fieldset {
  margin:0;
  padding: 0;
}

.content-main form input[type="text"],
.content-main form input[type="password"] {
  font-size:19px;
  height:26px;
  line-height:26px;
  margin-bottom:20px;
  width:97%;
  border-radius: 0;
}

.content-main form .help-inline {
  font-size:12px;
  margin-top:12px;
  padding-left:0;
}
.content-main form .btn-group {
  float:right;
}

.content-main .btn {
  background: #e8e8e8;
  border-radius: 0;
  border: 0;
  color: #555;
  box-shadow: 0 0 1px rgba(0,0,0,0.25) inset;
  font-family: Arial, Helvetica, sans-serif;
}
.content-main .btn:hover,
.content-main .btn:focus {
  background: #f8f8f8;
  box-shadow: 0 0 1px rgba(0,0,0,0.4) inset;
  /*text-shadow: 0 1px 1px #000;*/
  /*color: #fff;*/
}
.content-main .btn:active {
  background: #cccccc;
}
.content-main .btn-primary {
  background: #3e84b5;
  text-shadow: none;
  color: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,0.4) inset;
}
.content-main .btn-primary:hover,
.content-main .btn-primary:focus {
  background: #0e65a2;
  box-shadow: 0 0 1px rgba(0,0,0,0.6) inset;
  text-shadow: none;
  color: #fff;
}
.content-main .btn-primary:active {
  background: #0c5582;
  text-shadow: none;
  color: #fff;
}

.content-main .btn-group .btn-primary {
  box-shadow: 0 0 1px rgba(0,0,0,0.4) inset;
}


.content-main .btn-group .btn {
  border-radius: 0;
}


.dropdown .dropdown-menu {
  border-radius: 0;
  margin-top: -1px;
  padding-top: 5px;
}
.dropdown .dropdown-menu li > a {
  color: #333;
  padding: 3px 14px;
  filter: none;
}
.dropdown .dropdown-menu li > a:hover,
.dropdown .dropdown-menu li > a:focus {
  background: #dae8f2;
  text-decoration: none;
}
.dropdown .dropdown-menu .active > a,
.dropdown .dropdown-menu .active > a:hover,
.dropdown .dropdown-menu .active > a:focus {
  background: #0e65a2;
  color: #fff;
  padding: 3px 14px;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background: #0e65a2;
}

.content-main .footer {
  margin:20px auto 0 auto;
  max-width:520px;  
}

.content-main .copyright {
  font-size:11px;
  line-height: 15px;
  padding:0 5px;
  text-align:right;
  color: #555;
  opacity: 0.5;
}
.content-main .copyright a {
  color: #111;
}
.content-main .copyright strong {
  font-weight: normal;
}


li a.active { background-color:#3E84B5; color:#FFF; }


@media (min-height:670px){
  body {
  }
  .content-main {
    padding-top: 120px;
  }
}

@media (max-width:767px){
  .content-main .content-block {
    max-width: 100%;
  }
  .content-main .footer {
    max-width: 100%;
  }

}

@media (max-width:979px){

}
